@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-caveat-brush: "Caveat Brush", cursive, sans-serif;
  --font-eb-garamond: "EB Garamond", serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
